//root
$magenta-color: #eb2b63;
$pink-color: #eb2bae;
$violet-color: #d22beb;
$purple-color: #972beb;
$blue-color: #732beb;
$background-color: #eef6f9;
body {
  font-family: "Montserrat", sans-serif;
}
input::placeholder {
  margin-left: 5px;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
iframe {
  margin-top: 30px;
  width: 100%;
}
button a {
  color: white;
}
//color
.pink-color {
  color: $magenta-color;
}
//btn
.site-btn {
  color: white;
  width: 200px;
  background-color: $magenta-color;
  border-radius: 15px;
  height: 50px;
}
.nav-btn {
  background-color: $magenta-color;
  border-radius: 15px;
  font-size: 14px;
  width: 150px;
}
.vision-btn {
  height: 50px;
  width: 200px;
}
//opacity
.opacity-7 {
  opacity: 0.7;
}
.opacity-5 {
  opacity: 0.5;
}
.opacity-3 {
  opacity: 0.3;
}
//text
.site-text {
  font-size: 12px;
  opacity: 0.3;
}

.badge {
  background-color: $magenta-color;
  color: white;
}

.lh2 {
  line-height: 2;
}
